@charset "utf-8";
@import "normalize";

body {
  background: #252525;
  color: #fff;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-style: italic;
  color: #757575;
}

.logo {
  font-family: 'Lobster', cursive;
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}


.grid__row {
  display: flex;
}

.grid__item {
  flex: 1;
  padding: 12px;
}

.container {
  padding: 40px;;
}

.buttons {
  line-height: 70px;
  border-radius: 5px;
  a {
    text-decoration: none;
    flex: 1;
    color: #eee;
  }
}

.card {
  display: block;
  width: 250px;
  margin: 0 auto;
  height: 100%;
  border-radius: 5px;
  text-decoration: none;
  background: #eee;
  color: #000;
  p {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 1rem;
  }
  #decision {
    background: #87c387;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .plus {
    background: #ca4141;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;;
      &:hover {
        background: #e26a6a;
      }
  }
  .neutral {
    background: #fff;
    padding: 20px;
    color: #000;
      &:hover {
      background: #ababab;
    }
  }
  .negative {
    background: #3e923e;
    padding: 20px;
      &:hover {
      background: #a0d8a0;
    }
  }
}
