---
title: Welcome to Katamuku!
---

<div class="container">

  <h1><span class="logo">Katamuku</span>, don't go on tilt.</h1>
  <h4>Let's do some card counting!</h4>


  <div class="welcome">
    <div class="card">
      <p class="decision">Bet</p>
      <p class="currentCount">Current Count 0</p>
    </div>
  </div>

  <section class="detail">
    <div class="grid">
      <div class="grid__row">
        <div class="grid__item">
          <p>
            When the count is positive, the you should bet. When the count is zero or negative, hold.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="buttons">
    <div class="grid">
      <div class="grid__row">
        <a href="#" id="negative"><div class="grid__item negative">2, 3, 4, 5, 6</div></a>
        <a href="#" id="neutral"><div class="grid__item neutral">7, 8, 9</div></a>
        <a href="#" id="plus"><div class="grid__item plus">10, Face Cards, Ace</div></a>
      </div>
    </div>
  </section>

    <p class="doc">
      <%#= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
    </p><!-- .doc -->
  </div><!-- .welcome -->
</div>
